.form-control:focus {
    border-color: #191f5a;
    box-shadow: 0 0 0 0.2rem rgba(24, 37, 27, 0.25);
}
a:focus {
    border-color: #191f5a;
    box-shadow: 0 0 0 0.2rem rgba(24, 37, 27, 0.25);
    background-color: #e4aa0d;
}


